services:
  {{ project_name }}_app_local:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        MODE: local
    image: {{ project_name }}_app_local
    container_name: {{ project_name }}_app_local
    env_file:
      - .env
    ports:
      - ${APP_PORT}:${APP_PORT}
    volumes:
      - ..:/app
      - {{ project_name }}-app-venv:/app/.venv
    environment:
      - PYTHONDONTWRITEBYTECODE=1
{%- if use_database %}
    networks:
      - {{ project_name }}_app_local_network
    depends_on:
      - {{ project_name }}_db_local
{% endif %}


{%- if database_provider == 'Postgresql' %}
  {{ project_name }}_db_local:
    image: postgres:17.4
    container_name: {{ project_name }}_db_local
    environment:
      - POSTGRES_USER=${DATABASE_USERNAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    volumes:
      - {{ project_name }}-app-data:/var/lib/postgresql/data
    ports:
      - ${DATABASE_PORT}:5432
    networks:
      - {{ project_name }}_app_local_network
{% endif %}

volumes:
  {{ project_name }}-app-data:
  {{ project_name }}-app-venv:

{% if use_database -%}
networks:
  {{ project_name }}_app_local_network:
    driver: bridge
{% endif -%}
