name: Linting

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  lint:
    name: Lint with Ruff
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python and uv
        uses: ./.github/actions/setup-python-uv
        with:
          python-version: "3.14"

      - name: Run Ruff linter
        run: uv run --only-group dev ruff check .
