name: Publish Python Package

on:
  release:
    types:
      - created

jobs:
  release:
    runs-on: ubuntu-latest
    environment:
      name: PyPI
      url: https://pypi.org/project/fastgear-cli/

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python and uv
        uses: ./.github/actions/setup-python-uv
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Build package
        run: uv build

      - name: Publish to PyPI
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: uv publish --token $PYPI_TOKEN