name: Tests

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  test:
    name: Test with Pytest
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python and uv
        uses: ./.github/actions/setup-python-uv
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: uv sync --group test

      - name: Run tests
        run: |
          uv run pytest

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: hmarcuzzo/fastgear-cli
